.my-banner{
    background-image: url("../assets/images/mybanner.jpeg");
    background-color: #cccccc;
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
    font-size: 300%;
    color: white;
}

li{
    padding-right: 15px;
    padding-bottom: 15px;
}


.modal-pre-auth{
    display: block;
}

.modal-post-auth{
    display: none;
}

input{
    display: block;
    margin: 8px 0;
    padding: 8px 2px;
    border-width: 0 0 2px 0;
    width: 100%;
    
    
}


.admin-navbar-elements-post-auth{
    display: none;
}


.client-navbar-elements-post-auth{
    display: none;
}


textarea{
    width: 100%;
    min-height: 150px;
}


